.swiper-pagination {
    width: 100%;
    position: absolute;
    bottom: 32px;
    height: 30px !important;
    z-index: 1000;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    display: block !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #2F3EDE;
}